
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inverse .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 100px;
        margin-bottom: 0;
    }
}
.status-saved {
    font-weight: bold;
    background-color: #C8A57E;
}

.status-processed {
    font-weight: bold;
    background-color: #00765a;
    color:white;
}

.has-shadow {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
}

.animation {
    -webkit-transition: all 1000ms linear;
    -moz-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.file-upload-label {
    display: inline-block;
}

.fileContainer{
    overflow: hidden;
    position: relative;
}

.fileContainer,input[type=submit] {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #9C9E9F;
    display: block;
    width: 150px;
}

.fileContainer:hover, input[type=submit]:hover  {
    background-color:  #666564;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 20px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    border: 1px solid transparent;
    border-radius: 5px;
}
input[type=text] {
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    border: 1px solid lightgray;
}

.table>tbody>tr>td {
    height: 50px;
    vertical-align: middle;
    font-size: 16px;
}





