<!DOCTYPE html>
<html>
<head>
    <title>Aditas</title>
    <link href="/kundenportal/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="/kundenportal/webjars/jquery/jquery.min.js"></script>
    <script src="/kundenportal/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/kundenportal/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <noscript>
        <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
            enabled. Please enable
            Javascript and reload this page!</h2>
    </noscript>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Aditas</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
            </ul>


            <div id="navbar" class="navbar-collapse collapse">
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Verbesserung im Leistungsmoment</h1>
            <p>Info Text...</p>
        </div>
    </div>

    <!--Main content - File Upload - File History -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 main">
                <h2 class="page-header">File Upload</h2>
                <div>
                    <form th:action="@{invoice}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Beschreibung:</label>
                            <input type="text" name="description">
                        </div>
                        <div class="form-group">
                            <label>Rechnung:</label>
                            <label class="fileContainer">
                                File Upload
                                <input id="file-upload" type="file" name="invoice">
                            </label>
                            <label class="file-upload-label">
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Abschicken">
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">Hochgeladene Rechnungen</h2>
                        <div class="table-responsive">
                            <table id="invoice_overview" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="invoice : ${invoices}">
                                        <tr>
                                            <td th:id="${invoice.id}" th:text="${invoice.id}"></td>
                                            <td th:text="${invoice.description}"></td>
                                            <td class="status" th:text="${invoice.status}"></td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
</body>
</html>